:root{
    --cor-fundo:#2c024e;
    --cor-principal:#00ffea;
    --cor-sengundaria:#ffffff;
    --cor-destaque:#24004d;
    --cor-texto:#000000;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    min-height: 100vh;
}